*{
 margin: 0;
 font-size: 1rem;   
}

html{
    box-sizing: border-box;
}

body{
    line-height: 1.7;
    font-weight: 300;
}
/* SIDEBAR  */
.sidebar{
    background-color: #e86215;
    grid-column:sidebar-start / sidebar-end ;
    grid-row:1/-1;
}
/* HEADER  */
.header{
    background-color: #3d1118;
    grid-column: full-start/col-end 6;
}
/* REALTORS  */
.realtors{
    background-color: #a61c1c;
    grid-column: col-end 6/full-end;
}
/* FEATURES  */
.features{
    grid-column: center-start/center-end;
    display: grid;
    grid-gap:2rem;
    /* grid-template-columns: repeat(3,1fr); */
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    align-items: start;
}
/* STORY  */
.story_pictures{    
    background-color: #3d1118;
    grid-column: full-start/col-end 4;
}
.story_content{
    background-color: grey;
    grid-column: col-start 5/full-end;
    padding: 6rem 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.story_text{
    font-size: 1.5rem;
    font-style: italic;
}

/* HOME */
.homes{
    background-color: #e86215;
    grid-column: center-start/center-end;
}
/* GALLERY */
.gallery{
    background-color: grey;
    grid-column: full-start/full-end;
}
/* FOOTER */
.footer{
    background-color: #a61c1c;
    grid-column: full-start/full-end;
}
/* FEATURE */
.feature{
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap:1.5rem;
    grid-column-gap: 2.5rem;
}
.feature .feature_text{
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
   .feature .feature_icon{
       fill:#fc8c03;
       width: 3rem;
       height: 3rem;
       grid-row: 1/span 2;
       transform: translateY(1rem);
   }

/* CONTAINER */
.container{
    display: grid;
    grid-template-rows: 80vh min-content 40vw repeat(3,min-content);
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem,1fr)  [center-start] repeat(8,[col-start] minmax(  min-content ,14rem)[col-end]) [center-end] minmax(6rem,1fr) [full-end];
}


/* HEADERS */
.header-1{
font-weight: 300;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
.header-2{
 font-weight: 300;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size: 4rem;
 font-style: italic;
 line-height: 1;
}
.header-3{
 font-weight: 300;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size: 1.6rem;
 text-transform: uppercase;
 color: gold;

}
.heading-4{
font-weight: 400;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 1.4rem;
}

/* THEME */
.dark{
color: #33302d;
}

/* BUTTON */
 .btn{
     background-color: greenyellow;
      color:black;
      border: none;
      border-radius: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size:1.5rem;
      padding: 1.8rem 3rem;
      cursor: pointer;
      transition:all .2s;
 }
 .btn:hover{
      background-color: lawngreen;
      border: none;
      border-radius: 0;
 }

 /* PADDING */
 .mb-sm{ margin-bottom: 2rem; }
 .mb-md{margin-bottom: 3rem;}
 .mb-lg{margin-bottom: 4rem;}
 .mb-hg{margin-bottom: 8rem;}