*{
 margin: 0;
 font-size: 1rem;   
}

html{
    box-sizing: border-box;
}

body{
    line-height: 1.7;
    font-weight: 300;
}

.sidebar{
    background-color: #e86215;
    grid-column:sidebar-start / sidebar-end ;
    grid-row:1/-1;
}

.header{
    background-color: #3d1118;
    grid-column: full-start/col-end 6;
}
.realtors{
    background-color: #a61c1c;
    grid-column: col-end 6/full-end;
}
.features{
    grid-column: center-start/center-end;
    display: grid;
    grid-gap:6rem;
    grid-template-columns: repeat(3,1fr);
}
.story_pictures{    
    background-color: #e86215;
    grid-column: full-start/col-end 4;
}
.story_content{
    background-color: #3d1118;
    grid-column: col-start 5/full-end;
}
.homes{
    background-color: #e86215;
    grid-column: center-start/center-end;
}
.gallery{
    background-color: grey;
    grid-column: full-start/full-end;
}
.footer{
    background-color: #a61c1c;
    grid-column: full-start/full-end;
}

.feature{
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap:1.5rem;
    grid-column-gap: 2.5rem;
}

.container{
    display: grid;
    grid-template-rows: 80vh min-content 40vw repeat(3,min-content);
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem,1fr)  [center-start] repeat(8,[col-start] minmax(  min-content ,14rem)[col-end]) [center-end] minmax(6rem,1fr) [full-end];
}

.feature .feature_text{
 font-size: 1.7rem;
 font-weight: 300;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.feature .feature_icon{
    fill:#fc8c03;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1/span 2;
    transform: translateY(1rem);
}

.header-1{
font-weight: 300;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
.header-2{
 font-weight: 300;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.header-3{
 font-weight: 300;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.heading-4{
font-weight: 400;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 1.9rem;
}

.dark{
color: #33302d;

}

